.topBar {
  display: flex;
  margin-top: 4px;
  margin-bottom: 6px;
  .bottomLeftActions {
    display: flex;
    gap: 2px;
    margin-right: 12px;
  }
  .inputBar {
    display: flex;
    padding: 4px 12px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;

    border-radius: 36px;
    background: #202124;
    .inputPrefix {
      display: flex;
    }
    .inputBox {
      display: flex;
      flex-grow: 1;
      .input {
        width: 100%;
        outline: none;
        border: none;

        color: #fdfdfd;
        font-family: SF Pro Text;
        font-size: 14px;
        font-weight: 400;
      }
    }
    .inputSuffix {
      display: flex;
    }
  }
  .bottomRightActions {
    display: flex;
  }
}
